// @import './colors.scss';
// @import "./colors.scss";

@import 'colors';           //both import method will work

.home{
    width: 100%;
    height: 100vh;
    background-color: $second;

    >main{
        position: absolute;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        align-items: flex-end; 
        width: 100%;       
        height: 100%;  
        padding: 2rem;  
        justify-content: center;
        // color: #fff;
        color: $first;

        h1{
            font:400 6rem $text1;
        }

        p{
            font:900 1rem $text1;
        }  
    }
    &::before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background:no-repeat center/auto url('../assets/1.png');
        filter: blur(4px);
        border-radius: 0 0 200px 200px;
    }
}

.home2{
    width: 100%;
    height: 100vh;
    background-color: $second;
    padding: 500px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -200px;

    >img{
        width: 30%;
        animation: ImgUp 1.5s linear infinite alternate;
    }

    >div{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem;
        height: 100vh;

        p{
            color: $first;
            letter-spacing: 2px;
            word-spacing: 5px;

            font:100 1.2rem $text2;
        }
    }
}

.home3{
    width: 100%;
    height: 120vh;
    background-color: $second;
    margin-top: -200px;
    display: flex;
    
    div{
        width: 70%;
        height: 100vh;
        background-color: $first;
        border-radius: 0 200px 200px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;

        h1{
            text-transform: uppercase;
            padding: .5rem;
            border-bottom: 4px solid $dark;
            width: 18rem;
            color: $dark;
        }

        >p{
            padding: 5rem;
            letter-spacing: 1px;
            word-spacing: 5px;
            line-height: 170%;
            font: italic 100 1.2rem $text2;
        }
    }
}

.home4{
    width: 100%;
    height: 100vh;
    background-color: $second;
    display: flex;
    justify-content: flex-end;

    >div{
        background-color: $third;
        width: 70%;
        height: 70vh;
        padding: 2rem;
        border-radius: 200px 0 0 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1{
            color: $first;
            text-transform: uppercase;
            width: 140px;
            padding: .5rem;
            border-bottom: 2px solid $first;
        }

        >article{
            display: flex;
            margin: 2rem 0;
            flex-wrap: wrap;
            justify-content: center;

            >div{
                animation: ImgUp 1s infinite alternate linear;
                margin: 1rem;
                height: 10rem;
                width: 10rem;
                background-color: #fff;
                border-radius: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                columns: $dark;
                cursor: pointer;
                transition: all .6s;

                &:hover{
                    filter: invert(5);
                }

                svg{
                    font-size: 3rem;
                }
                p{
                    font: 400 1.2rem $text2;
                }
            }
        }
    }
}

@keyframes ImgUp{
    to{
        transform: translateY(-12px);
    }
}